.Navbar {
    position: relative;
    /* padding: 20px; */
}

.Sections {
    padding: 20px;
    text-align: center;
}

.Section {
    padding: 20px;
}

.active {
    padding: 20px;
    color: blue;
}
.Section:hover {
    color:green;
}