.Education {
    background-color: black;
    /* border: 10px solid black; */
}

.EducationInstitutionLogoContainer {
    width: 30%;
    float: left;
    height: 220px;
    /* background-color: lightcoral; */
}

.InstitutionDescription {
    width:60%;
    float: left;
    height: 220px;
    /* background-color:lightsalmon; */
    overflow: auto;
}

.InstitutionLogo {
    padding: 10px;
    margin: auto;
    height: 100px;
    overflow: auto;
}

.CourseScore {
    float: right;
    overflow: auto;
}

@media screen and (max-width:800px) {
    .InstitutionDescription, .EducationInstitutionLogoContainer {
      width:100%;
    }
  }